body {
  /* padding-top: 80px;*/
  margin: 0px;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.wrapper {
  width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .wrapper {
    min-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    min-width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  .wrapper {
    min-width: 1600px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works {
  padding-top: 0px;
}

@media screen and (max-width: 767px) {
  .works {
    display: none;
  }
}

.works__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 370px;
  padding: 27px 85px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.works__item {
  position: relative;
  -ms-flex-preferred-size: calc(100% - (3 * 30px) / 3);
      flex-basis: calc(100% - (3 * 30px) / 3);
}

.works__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team {
  background-color: #f5f4fa;
}

.team__title, .works__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team__card {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  -ms-flex-preferred-size: calc(100% - (4 * 30px))/4;
      flex-basis: calc(100% - (4 * 30px))/4;
}

.team__img {
  margin-top: 0px;
}

.team__meta {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__card:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team__card:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.team__name {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
/*# sourceMappingURL=main.css.map */