
  

.button__menu {
    @include button-mini();
    top: 10px;
    right: 15px; 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      fill: var(--color-brand);
    }
  
    @media screen and(min-width:$tablet){
         display: none;
    }
  } 

.button__menu-close {
  position: absolute;
  top: 10px;
  right: 15px; 
  @include button-mini();
  &:focus,
  &:hover {
    fill: var(--color-brand);
  }
}