.buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.buttons__buttom {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    background-color: $color-portfolio-button;
    border: none;
    color: $color-title-text;
    cursor: pointer;
    font-family: inherit;
    @include font(16px,500,1.62);
  

   &:focus,
   &:hover {
    background-color: $color-brand;
    //border: $color-brand;
    color: $color-bcg-site;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  }

  .buttons__item {
    margin-right: 8px;
  }  

  .buttons .buttons__item + .buttons__item:not(:nth-last-child(-n+2)){
      margin-bottom: 15px;
  }
