.footer {
        background-color: var(--color-secondary-bcg-site);
        color: var(--color-bcg-site);  
         position: relative;
         @media screen and(min-width:$desktop){
          padding-bottom: 60;
         }
      // display: flex;
      //align-items: center;
      
}

.footer-logo {
 display: block;
 text-align: center;
 margin-bottom: 20px;
 @media screen and(min-width:$desktop) {
   text-align: left;
 }
}

.footer-brand {
  color: var(--color-bcg-site);
} 

.footer__relations {
  @media screen and(max-width:767px) {
  margin-bottom: 60px;
  }
  @media screen and(min-width:$desktop){
    margin-right: 70px;
    margin-bottom: 0;
  }
}

@media screen and(min-width:$tablet) {
  .footer__contacts {
    display: flex;
    justify-content: space-around;
   
  }
}

@media screen and(min-width:$desktop) {
  .relations 
     {  display: flex;
        position: relative;
    }
}

  
  
