.footer {
       // padding-top: 60px;
      //  padding-bottom: 60px;
        background-color: var(--color-secondary-bcg-site);
        color: var(--color-bcg-site);  
      
        
     //   display: flex;
      //  align-items: center;
      
}

.footer-logo {
 display: block;
 text-align: center;
 margin-bottom: 20px;
  }

.footer-brand {
  color: var(--color-bcg-site);
} 

@media screen and(min-width:$tablet) {
  .footer__contacts {
    display: flex;
    justify-content: space-around;
  }
}



  
  
