.footer-logo {
  display: block;
  margin-bottom: 20px;
}
.footer-brand {
  color: $color-bcg-site;
}

.footer-headline {
  color: $color-bcg-site;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  margin-bottom: 20px;
}
