/*@media screen and(min-width:$desktop) {
    /*.footer__contacts {
        justify-content: left;
        align-items: flex-start;
        margin-right: 33px;
    }*/

    

    /*.footer-form {
        display: flex;
      //  align-items: flex-start;
       // justify-content: left;
       
    }*/


    /*.blank__wrapper {
        display: flex;
        flex-direction: column;
       align-items: center;
       // justify-content: space-between;
        
    }*/


//}