.footer {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: $color-secondary-bcg-site;
        color: $color-bcg-site;  
        display: flex;
        align-items: center;
      
}

.footer-logo {
 display: block;
 text-align: center;
 margin-bottom: 20px;
  }

.footer-brand {
  color: $color-bcg-site;
}  

@media screen and(min-width:$tablet) {
  .footer__link {
    display: flex;
    justify-content: space-around;
  }
  
}

  
  
