.header {
  top: 0;
  left: 0;

  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid $color-header-line;
  background-color: $color-bcg-site;
}

/*.container-header {
  display: flex;
  align-items: center;
}*/
