.header {
    position: relative;
    padding: 16px 15px;
    @media screen and(min-width:$tablet){
    padding: 21px 15px;   
    display: flex; 
    }
    border-bottom: 1px solid $color-header-line;
    background-color: $color-bcg-site;
}

