.hero {
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: var(--color-secondary-bcg-site);

    &__title {
        margin-top: 0px;
        margin-bottom: 30px;
    
        color: var(--color-bcg-site);
        text-transform: uppercase;
        text-align: center;
        @include font(26px, 900, 1.62);
        @media screen and(min-width:$desktop){
         font-size: 44px; 
         line-height: 1.36;
        }
    }
}

 @media screen and(min-width:$tablet){
  .hero {
    background-color: var(--color-hero-bcg);
  } 
}

.background {
    //height: 400px;
    max-width: $mobile;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-hero-bcg);


    background-image: linear-gradient(
        var(--color-hero-transparent-blackout),
        var(--color-hero-transparent-blackout)
      ),
      url('../../images/hero/hero-mobile.jpg');

      @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
      var(--color-hero-transparent-blackout),
      var(--color-hero-transparent-blackout)
    ),
    url('../../images/hero/hero-mobile@2x.jpg');
  }


  @media screen and(min-width:$tablet) {
    max-width: $tablet;
    background-image: linear-gradient(
        var(--color-hero-transparent-blackout),
        var(--color-hero-transparent-blackout)
      ),
      url('../../images/hero/hero-tablet.jpg');

      @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
      var(--color-hero-transparent-blackout),
      var(--color-hero-transparent-blackout)
    ),
    url('../../images/hero/hero-tablet@2x.jpg');
  }

  }
  @media screen and(min-width:$desktop) {
    max-width: $desktop;
    background-image: linear-gradient(
        var(--color-hero-transparent-blackout),
        var(--color-hero-transparent-blackout)
      ),
      url('../../images/hero/hero-desctop.jpg');

      @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
      var(--color-hero-transparent-blackout),
      var(--color-hero-transparent-blackout)
    ),
    url('../../images/hero/hero-desctop@2x.jpg');
  }
  }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



@media screen and(min-width:$desktop) {
  .background{
  max-width: 1600px;
 // height: 600px;
}
}

  .button {
    @include button-style();
    display: inline-block;
    min-width: 200px;
    padding: 10px 20px;
    text-align: center;
  
  
    &:hover {
    background-color: var(--color-button);
    }
  }
   