.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: $color-secondary-bcg-site;

  &__title {
    margin-top: 0px;
    margin-bottom: 30px;

    color: $color-bcg-site;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

.background {
  height: 400px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-color: $color-hero-bcg;
  background-image: linear-gradient(
      $color-hero-transparent-blackout,
      $color-hero-transparent-blackout
    ),
    url("..//../images/background-Img.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
/*button*/
.button {
  @include button-style();
  display: inline-block;
  min-width: 200px;
  padding: 10px 20px;
  text-align: center;


  &:hover {
  background-color: $color-button;
  }
} 