.logo {
  color: var(--color-brand);
  font-family: Raleway, sans-serif;
  @include font(24px,700,1.17);
  text-align: center;
 @media screen and(min-width:$desktop){
   font-size: 26px;
 }


  &__text {
    color: var(--color-logo-text);
    font-family: Raleway, sans-serif;
  }
}

.logo__header {
  margin-right: 93px;
  @media screen and(min-width:$tablet) {
    margin-right: 88px;
  }
}

@media screen and(min-width:$tablet) {
  .Studio {
    position: relative;
}
}

@media screen and(min-width:$tablet) {
.Studio::after {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translatey(33px);
  @media screen and(min-width:$desktop) {
    transform: translatey(38px);
  }
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--color-brand);
}
}