
  

    .menu-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    text-align: left;
    font-size: 20px;
    background-color: var(--color-bcg-site);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
    }
}

.menu-container-wrapper {
    position: relative;
    padding: 48px 0;
}

.menu__list {
  margin-bottom: 306px;
}
.menu__list__link {
    color: var(--color-title-text);

    &:focus,
    &:hover {
      color: var(--color-brand);
}
}

.menu__list__item {
  @include font(40px, 500, 1.17);
    color: var(--color-title-text);

 &:not(:last-child) {
  margin-bottom: 32px;
}
}

.menu__contact {
  margin-bottom: 64px;
}

.menu__contact__item {
  @include font(34px, 500, 1.17);
  color: var(--color-brand);

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu__contact__link-imail {
  @include font(24px, 500, 1.17);
  color: var(--color-text);
}

.menu__social {
  display: flex;
  flex-wrap: nowrap;
}

.menu__contact__link-tel {
  color: var(--color-brand);
}

.menu__social__link {
  color: var(--color-brand);
}


.menu__social__item {
  @include font(18px, 500, 1.22);
  color: var(--color-brand);
  

  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid var(--color-input-border);
  }
}

.menu__social__item:not(:nth-child(1)) {
  padding-left: 10px;
}

