
    
 
@media  screen and(max-width:767px) {   

.menu-container {

    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    height: 255px;
    
    padding: 48px 40px;
    text-align: left;
    font-size: 20px;

    background-color: $color-bcg-site;

    &.is-open {
    display: block;
    }

     
    }

}

@media screen and(min-width:$tablet) {
   .menu-container {
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

}