.modal {
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  //width: 528px;
  //height: 580px;
  
  background-color: var(--color-bcg-site);
  border-radius: 4px;
  @media screen and(max-width: 767px) {
    position: relative;
    padding: 40px;
   // width: 100%;
    max-width: 450px;
    //height: 609px;
    }

  @media screen and(min-width: $tablet) and(max-width: 1199px){
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 580px;
      max-width: 528px;
    }  
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 3px 4px;
  border-color: var(--color-button-close-border);
  background-color: var(--color-bcg-site);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  .form__field:hover,
  .form__field:focus,
  .btn-close:focus,
  .btn-close:hover {
  fill: var(--color-brand);
  }



.close {
  width: 11px;
  height: 11px;
}



/* form start */

.form {
  //width: 528px;
  margin-left: auto;
  margin-right: auto;
  //padding: 40px;
}

.form__title {
  margin-bottom: 12px;
  color: var(--color-title-text);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
}
.form__input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid var(--color-input-border);
  background-color: var(--color-bcg-site);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__image {
  fill: var(--color-brand);
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
}

.form__image {
  position: absolute;
  transform: translatey(100%);
  left: 12px;
  bottom: 50%;

  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field {
  position: relative;
  margin-bottom: 10px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.check__input {
  appearance: none;
  position: absolute;
  fill: var(--color-brand);
}

.form__input-koment:hover,
.form__input-koment:focus,
.form__input:focus,
.form__input:hover {
  border-color: var(--color-brand);
  background-color: var(--color-bcg-site);
}



textarea {
  resize: none;
}

.form__item input {
  margin: 0;
  padding: 11;
}
.form__item label {
  margin-bottom: 4px;
}
.form__item-koment .form__input-koment::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  justify-content: start;
  
}

.form__input-koment:not(:placeholder-shown ) {
  color: var(--color-title-text);

}
.form__input-koment {
  outline: none;
  cursor: pointer;
  width: 370px;
  @media screen and(min-width: $desktop) {
    width: 448px;
    }
  height: 120px;
  border: 1px solid var(--color-input-border);
  border-radius: 4px;
  @include font(14px, 400, 1.14);
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--color-title-text);
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.check__email {
  margin-left: 2px;
  text-decoration: underline;
  color: var(--color-brand);
}

.check {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 30px;
}

/*.chek .check__label {
  margin-bottom: 4px;
}*/

.check__label{

  display: block;
  color: var(--color-text);
}

.check__icon {
  position: absolute;
  top: 0;
  left: 0px;
  @media screen and(min-width: $tablet){
    left: 10px;
  }
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-logo-text);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.check__input:checked + .check__icon {
  background-color: var(--color-brand);
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.check__input:focus + .check__icon {
  border-color: var(--color-brand);
}

.check__input {
  appearance: none;
  position: absolute;
}
.check__label {
  display: flex;
  justify-content: space-around;
  align-items: center;
 // padding-right: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  text-align: left;
}
.form-button {
  @include button-style();
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 56px;
  text-align: center;
  
  &:hover {
    background-color: var(--color-button);
  }
}

