.cards {
  background-color: rgb(237, 187, 114);
}

@media screen and(max-width:767px){
  .cards__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.cards__item {
  width: 100%;

  @media screen and(min-width:$tablet) {
   flex-basis: calc(100% / 2 - 30px);
   margin-top: 30px;
   margin-left: 30px;
  }

  @media screen and(min-width:$desktop) {
    flex-basis: calc(100% / 3 - 30px);
  }
}


@media screen and(min-width:$tablet) {
 .cards {
   display: flex;
   flex-wrap: wrap;
 margin-top: -30px;
 margin-left: -30px;
}
}


.cards__title {
    color: var(--color-title-text);
    @include font(18px, 700, 2);
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.cards__text {
    @include font(16px, 400, 1.88);
    color: var(--color-text);
}  

.cards__article {
    width: 100%;
    min-height: 70px;
    padding: 20px 24px;
    border-left: 1px solid var(--color-cards-border);
    border-bottom: 1px solid var(--color-cards-border);
    border-right: 1px solid var(--color-cards-border);
 /* @media screen and(min-width:$desktop) {
    box-sizing: content-box;
   
  } */
}

/*@media screen and(min-width:$desktop) {
  .cards__article {
  max-width: 354px;
   min-height: 146px;
}
}*/

.cards__imail {
  // display: block;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


 @media screen and(min-width:$tablet) {
    .cards__imail {
      height: 100%;
      display: inline-flex;
      flex-direction: column;
      align-items: stretch;
     //flex-grow: 1;
    }

    //.cards__item:nth-child(1) .cards__article{
    //  padding: 20px 24px 56px;
    //}

    .cards__article {
      flex-grow: 1;
    }


  }


  .cards__imail:hover .cards__overlay,
  .cards__imail:focus .cards__overlay,
  .cards__imail:visited .cards__overlay {
    transform: translateY(0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

 
  .cards__imail:hover,
  .cards__imail:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  
  }

 

  .cards__box {
    position: relative;
    overflow: hidden;
    display: block;
  }

  .cards__overlay {
    position: absolute;
    top: 0;
    left: 0;

    @media screen and(max-width:767px) {
     overflow: scroll;
    }

    @media screen and(min-width:$tablet) {
     max-width: 354px; 
     //padding: 49px 24px 77px;
    }

    @media screen and(min-width:$desktop) {
      max-width: 370px;
    }

    width: 100%;
    height: 100%;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .cards__par {
    //width: 450px;
    overflow: hidden;

    text-align: left;
    @include font(18px, 400, 1.88);

    color: var(--color-bcg-site);
    background-color: var(--color-cards-overley);

  /*  @media screen and(min-width:$tablet) {
      width: 370px;   
     }*/
     
    //height: 294px;
    padding: 49px 24px 77px;

    
    
    
  }
  /*@media screen and(min-width:$desktop) {
    .cards__par{
    padding: 63px 24px;
    line-height: 1.56;
  }
  }*/
 
