.portfolio {
  position: relative;

  &::after {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translatey(40px);
    content: "";
    width: 77px;
    height: 4px;
    border-radius: 4px;
    background-color: $color-brand;
  }
}
