.publicity .publicity-list {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and(min-width:$tablet){
    .publicity-list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
    }
    
  }

  .publicity__caption {
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--color-title-text);
    text-transform: uppercase;
    @include font(14px, 700, 1.14);
    @media screen and(min-width:$tablet){
      line-height: 1.17;
    }
    text-align: center;
  }

  .publicity__text {
    color: var(--color-text);
    @include font(14PX,400,1.71);
    margin-top: 0px;
    box-sizing: border-box;
  }

  .publicity__item {
    max-width: 450px;
    min-height: 120px;
  }

@media screen and(min-width:$tablet) {
  .publicity__item {
    
    width: calc(100% - (4 * 15px) / 2);
    max-width: 354px;
    
    &:nth-child(odd) {
      margin-right: 15px;
    }

    &:nth-child(even) {
      margin-left: 15px;
    }

    &:not(:nth-last-child(-n+2)) {
      margin-bottom: 30px;
    }
  }
  
  
}
  .publicity__img {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 120px;
    background-color: var(--color-team-bcg);
    margin-bottom: 30px;
  }

  .publicity__icon {
    width: 70px;
    height: 70px;
  }


